html,body
{
	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100vh;
	background: url(../img/bg.jpg), linear-gradient( rgba(75,0,130,0.5),rgba(0,0,0,0.8));
    background-blend-mode: overlay; 
	background-size: cover;
	font-family: sans-serif;
	background-attachment: fixed;

}
.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.6);
	/*box-shadow: 5px 10px white;*/
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 10%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
	border: 2px solid #ffd000;
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	font-family: Times New Roman;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


/*preloder start*/
/*#loader {
 	position: fixed;
  	width: 100%;
 	height: 100vh;
 	z-index: 1;
 	overflow: visible;
  background:#000 url('../img/preloader.gif') no-repeat center center; 
 }
*/
 	.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 20%;
}

.loader.hidden {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*Preloader End*/